<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="jefatura">
            <h2><span jhiTranslate="examen2App.jefatura.detail.title">Jefatura</span> {{ jefatura.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="examen2App.jefatura.fechaInicio">Fecha Inicio</span></dt>
                <dd>
                    <span>{{ jefatura.fechaInicio }}</span>
                </dd>
                <dt><span jhiTranslate="examen2App.jefatura.empleado">Empleado</span></dt>
                <dd>
                    <div *ngIf="jefatura.empleado">
                        <a [routerLink]="['/empleado', jefatura.empleado?.id, 'view']">{{ jefatura.empleado?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="examen2App.jefatura.departamento">Departamento</span></dt>
                <dd>
                    <div *ngIf="jefatura.departamento">
                        <a [routerLink]="['/departamento', jefatura.departamento?.id, 'view']">{{ jefatura.departamento?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/jefatura', jefatura.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
