<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-jefatura-heading" jhiTranslate="examen2App.jefatura.home.createOrEditLabel">Create or edit a Jefatura</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examen2App.jefatura.fechaInicio" for="field_fechaInicio">Fecha Inicio</label>
                    <div class="d-flex">
                        <input id="field_fechaInicio" type="datetime-local" class="form-control" name="fechaInicio" formControlName="fechaInicio" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examen2App.jefatura.empleado" for="field_empleado">Empleado</label>
                    <select class="form-control" id="field_empleado" name="empleado" formControlName="empleado">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="empleadoOption.id === editForm.get('empleado')!.value?.id ? editForm.get('empleado')!.value : empleadoOption" *ngFor="let empleadoOption of empleados; trackBy: trackById">{{ empleadoOption.nombre }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examen2App.jefatura.departamento" for="field_departamento">Departamento</label>
                    <select class="form-control" id="field_departamento" name="departamento" formControlName="departamento">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="departamentoOption.id === editForm.get('departamento')!.value?.id ? editForm.get('departamento')!.value : departamentoOption" *ngFor="let departamentoOption of departamentos; trackBy: trackById">{{ departamentoOption.descripcion }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
